In [2]:
import feedparser

In [3]:
import numpy as np
import pandas as pd

In [4]:
import urllib

In [5]:
import re

In [ ]:
import

In [6]:
from readxml import readxml

In [7]:
url='http://www.data.jma.go.jp/fcd/yoho/cap-rsmctk/atom.xml'

jmafeed=feedparser.parse(url)

In [8]:
data=jmafeed['entries']
data[0]['summary']

u'<pre>TD expected upgrading\nANALYSIS (0521UTC):\nPressure 1000 hPa\nat 11.8 degree north 130.0 degree east\nposition POOR (radius more than 110 km).\nMoving north-north-east 7 knots.\nMax winds 30 knots.\nGust 45 knots.\n</pre>'

In [9]:
print readxml(url,'lxml')

2017-02-05T22:35:04Z
Typhoon Advisories from RSMC Tokyo
https://ds.data.jma.go.jp/fcd/yoho/cap-rsmctk/
RSMC Tokyo - Typhoon Centre
2017-02-05T22:03:49.001Z
TD expected upgrading ANALYSIS (0521UTC): 11.8°N 130.0°E POOR MOVE NNE 7 kt PRES 1000 hPa MXWD 30 kt GUST 45 kt
TD expected upgrading
ANALYSIS (0521UTC):
Pressure 1000 hPa
at 11.8 degree north 130.0 degree east
position POOR (radius more than 110 km).
Moving north-north-east 7 knots.
Max winds 30 knots.
Gust 45 knots.
urn:uuid:88d48240-8473-3551-9a04-5edcab0db990
urn:uuid:88d48240-8473-3551-9a04-5edcab0db990
rsmc-tokyo@met.kishou.go.jp
2017-02-05T22:03:49+00:00
Actual
Alert
Public
CAP-RSMCTK
en-US
Met
TROPICAL CYCLONE ADVISORY/ANALYSIS
Unknown
Unknown
Observed
EventType
TC_Analysis
2017-02-05T22:05:00+00:00
2017-02-05T21:00:00+00:00
2017-02-06T04:30:00+00:00
RSMC Tokyo - Typhoon Center
TD expected upgrading ANALYSIS (0521UTC): 11.8°N 130.0°E POOR MOVE NNE 7 kt PRES 1000 hPa MXWD 30 kt GUST 45 kt
TD expected upgrading
ANALYSIS (0521UTC):
Pressure 1000 hPa
at 11.8 degree north 130.0 degree east
position POOR (radius more than 110 km).
Moving north-north-east 7 knots.
Max winds 30 knots.
Gust 45 knots.
http://www.jma.go.jp/en/typh/index.html
TC_Number
1702
TC_Remark
Upgrading
TC_Classification
TD
TC_MovingDirection
NNE
TC_MovingSpeed
7 kt
TC_PositionConfidence
POOR
TC_CenterPressure
1000 hPa
TC_Location
フィリピンの東
TC_MaxSustainedWind
30 kt
TC_PeakGust
45 kt
EventEndTime
2017-02-05T21:00:00+00:00
TC_AnalysisTime
2017-02-05T21:00:00+00:00
UUID
88d48240-8473-3551-9a04-5edcab0db990
Sea East of Philippines
11.8,130.0 0
2017-02-05T22:03:49.002Z
TD expected upgrading FCST 24h (0621UTC): 14.0°N 130.8°E ±200 km MOVE NE 7 kt PRES 998 hPa TOBE TS MXWD 35 kt GUST 50 kt
TD expected upgrading
Forecast 24 hr (0621UTC):
Pressure 998 hPa
at 14.0 degree north 130.8 degree east
with 200 km of 70 percent probability circle.
Moving north-east 7 knots.
Max winds 35 knots.
Gust 50 knots.
Expected to be TROPICAL STORM.
urn:uuid:6f5f1e4c-a63d-3302-a5ff-dee932d54f65
urn:uuid:6f5f1e4c-a63d-3302-a5ff-dee932d54f65
rsmc-tokyo@met.kishou.go.jp
2017-02-05T22:03:49+00:00
Actual
Alert
Public
CAP-RSMCTK
en-US
Met
TROPICAL CYCLONE ADVISORY/FORECAST
Unknown
Unknown
Observed
EventType
TC_Forecast24
2017-02-05T22:05:00+00:00
2017-02-06T21:00:00+00:00
2017-02-06T04:30:00+00:00
RSMC Tokyo - Typhoon Center
TD expected upgrading FCST 24h (0621UTC): 14.0°N 130.8°E ±200 km MOVE NE 7 kt PRES 998 hPa TOBE TS MXWD 35 kt GUST 50 kt
TD expected upgrading
Forecast 24 hr (0621UTC):
Pressure 998 hPa
at 14.0 degree north 130.8 degree east
with 200 km of 70 percent probability circle.
Moving north-east 7 knots.
Max winds 35 knots.
Gust 50 knots.
Expected to be TROPICAL STORM.
http://www.jma.go.jp/en/typh/index.html
TC_Number
1702
TC_Remark
Upgrading
TC_Classification
TS
TC_MovingDirection
NE
TC_MovingSpeed
7 kt
TC_CenterPressure
998 hPa
TC_Location
フィリピンの東
TC_MaxSustainedWind
35 kt
TC_PeakGust
50 kt
EventEndTime
2017-02-06T21:00:00+00:00
TC_AnalysisTime
2017-02-05T21:00:00+00:00
UUID
6f5f1e4c-a63d-3302-a5ff-dee932d54f65
Sea East of Philippines
14.0,130.8 200

In [24]:
buls = len(data)

In [25]:
for b in range(buls):
    print (data[b].summary)

<pre>TD expected upgrading
ANALYSIS (0521UTC):
Pressure 1000 hPa
at 11.8 degree north 130.0 degree east
position POOR (radius more than 110 km).
Moving north-north-east 7 knots.
Max winds 30 knots.
Gust 45 knots.
</pre>
<pre>TD expected upgrading
Forecast 24 hr (0621UTC):
Pressure 998 hPa
at 14.0 degree north 130.8 degree east
with 200 km of 70 percent probability circle.
Moving north-east 7 knots.
Max winds 35 knots.
Gust 50 knots.
Expected to be TROPICAL STORM.
</pre>

In [31]:
[re.sub('<[^<]+>', "", elem) for elem in data[0].summary.split()]

[u'TD',
 u'expected',
 u'upgrading',
 u'ANALYSIS',
 u'(0521UTC):',
 u'Pressure',
 u'1000',
 u'hPa',
 u'at',
 u'11.8',
 u'degree',
 u'north',
 u'130.0',
 u'degree',
 u'east',
 u'position',
 u'POOR',
 u'(radius',
 u'more',
 u'than',
 u'110',
 u'km).',
 u'Moving',
 u'north-north-east',
 u'7',
 u'knots.',
 u'Max',
 u'winds',
 u'30',
 u'knots.',
 u'Gust',
 u'45',
 u'knots.',
 u'']

In [25]:
# collect the summeries (one for each alert present in the webpage)
for k in range(len(data)):
    if 'tcw' in data[k].summary : txt = (data[k].summary)

In [69]:
elp = [re.sub('<[^<]+>', "", elem) for elem in txt.split('Tropical')] # we split the text to get the references for the alerts

In [89]:
hur = [elem.strip().split('\n')[0] for elem in elp] # the names of the TCs are...

In [90]:
hur

[u'',
 u'Cyclone Formation Alert WTXS21 ',
 u'Cyclone  04S (Carlos) Warning #08 ']

In [91]:
elp = [re.sub('<[^<]+>', "", elem) for elem in txt.split('href=')] # we now split differently to get the urls for the bulletins

In [93]:
bul = [elem for elem in elp if 'tcw' in elem] # collect the urls 

bul_ =  [elem.strip().split()[0] for elem in bul]

bul_

In [106]:
bul_ = [ elem.encode('utf8').replace('"', '') for elem in bul_] # get rid of unicode characters

In [109]:
det = urllib.urlopen(bul_[1]).read() # download and parse the bulletin file

In [111]:
print det

WTXS51 PGTW 080300
WARNING    ATCG MIL 04S SIO 170208020334
2017020800 04S CARLOS     008  01 215 06 SATL 040
T000 211S 0534E 040 R034 045 NE QD 090 SE QD 090 SW QD 045 NW QD
T012 222S 0527E 050 R050 015 NE QD 045 SE QD 020 SW QD 020 NW QD R034 105 NE QD 120 SE QD 095 SW QD 055 NW QD
T024 232S 0525E 060 R050 025 NE QD 030 SE QD 015 SW QD 005 NW QD R034 130 NE QD 115 SE QD 080 SW QD 060 NW QD
T036 244S 0533E 070 R064 020 NE QD 020 SE QD 010 SW QD 005 NW QD R050 045 NE QD 045 SE QD 030 SW QD 010 NW QD R034 130 NE QD 110 SE QD 085 SW QD 070 NW QD
T048 253S 0545E 070 R064 025 NE QD 025 SE QD 015 SW QD 005 NW QD R050 050 NE QD 055 SE QD 040 SW QD 020 NW QD R034 135 NE QD 110 SE QD 080 SW QD 075 NW QD
T072 266S 0561E 065 R064 010 NE QD 010 SE QD 015 SW QD 020 NW QD R050 050 NE QD 060 SE QD 050 SW QD 040 NW QD R034 145 NE QD 125 SE QD 085 SW QD 070 NW QD
T096 280S 0569E 055 R050 035 NE QD 055 SE QD 045 SW QD 030 NW QD R034 150 NE QD 165 SE QD 145 SW QD 095 NW QD
T120 298S 0566E 040 R034 160 NE QD 170 SE QD 150 SW QD 075 NW QD
AMP
    120HR DISSIPATING AS A SIGNIFICANT TROPICAL CYCLONE OVER WATER
SUBJ:  TROPICAL CYCLONE 04S (CARLOS) WARNING NR 008
1. TROPICAL CYCLONE 04S (CARLOS) WARNING NR 008
   01 ACTIVE TROPICAL CYCLONE IN SOUTHIO
   MAX SUSTAINED WINDS BASED ON ONE-MINUTE AVERAGE
   WIND RADII VALID OVER OPEN WATER ONLY
    ---
   WARNING POSITION:
   080000Z --- NEAR 21.1S 53.4E
     MOVEMENT PAST SIX HOURS - 215 DEGREES AT 06 KTS
     POSITION ACCURATE TO WITHIN 040 NM
     POSITION BASED ON CENTER LOCATED BY SATELLITE
   PRESENT WIND DISTRIBUTION:
   MAX SUSTAINED WINDS - 040 KT, GUSTS 050 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 034 KT WINDS - 045 NM NORTHEAST QUADRANT
                            090 NM SOUTHEAST QUADRANT
                            090 NM SOUTHWEST QUADRANT
                            045 NM NORTHWEST QUADRANT
   REPEAT POSIT: 21.1S 53.4E
    ---
   FORECASTS:
   12 HRS, VALID AT:
   081200Z --- 22.2S 52.7E
   MAX SUSTAINED WINDS - 050 KT, GUSTS 065 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 050 KT WINDS - 015 NM NORTHEAST QUADRANT
                            045 NM SOUTHEAST QUADRANT
                            020 NM SOUTHWEST QUADRANT
                            020 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 105 NM NORTHEAST QUADRANT
                            120 NM SOUTHEAST QUADRANT
                            095 NM SOUTHWEST QUADRANT
                            055 NM NORTHWEST QUADRANT
   VECTOR TO 24 HR POSIT: 190 DEG/ 05 KTS
    ---
   24 HRS, VALID AT:
   090000Z --- 23.2S 52.5E
   MAX SUSTAINED WINDS - 060 KT, GUSTS 075 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 050 KT WINDS - 025 NM NORTHEAST QUADRANT
                            030 NM SOUTHEAST QUADRANT
                            015 NM SOUTHWEST QUADRANT
                            005 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 130 NM NORTHEAST QUADRANT
                            115 NM SOUTHEAST QUADRANT
                            080 NM SOUTHWEST QUADRANT
                            060 NM NORTHWEST QUADRANT
   VECTOR TO 36 HR POSIT: 150 DEG/ 07 KTS
    ---
   36 HRS, VALID AT:
   091200Z --- 24.4S 53.3E
   MAX SUSTAINED WINDS - 070 KT, GUSTS 085 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 064 KT WINDS - 020 NM NORTHEAST QUADRANT
                            020 NM SOUTHEAST QUADRANT
                            010 NM SOUTHWEST QUADRANT
                            005 NM NORTHWEST QUADRANT
   RADIUS OF 050 KT WINDS - 045 NM NORTHEAST QUADRANT
                            045 NM SOUTHEAST QUADRANT
                            030 NM SOUTHWEST QUADRANT
                            010 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 130 NM NORTHEAST QUADRANT
                            110 NM SOUTHEAST QUADRANT
                            085 NM SOUTHWEST QUADRANT
                            070 NM NORTHWEST QUADRANT
   VECTOR TO 48 HR POSIT: 130 DEG/ 07 KTS
    ---
   EXTENDED OUTLOOK:
   48 HRS, VALID AT:
   100000Z --- 25.3S 54.5E
   MAX SUSTAINED WINDS - 070 KT, GUSTS 085 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 064 KT WINDS - 025 NM NORTHEAST QUADRANT
                            025 NM SOUTHEAST QUADRANT
                            015 NM SOUTHWEST QUADRANT
                            005 NM NORTHWEST QUADRANT
   RADIUS OF 050 KT WINDS - 050 NM NORTHEAST QUADRANT
                            055 NM SOUTHEAST QUADRANT
                            040 NM SOUTHWEST QUADRANT
                            020 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 135 NM NORTHEAST QUADRANT
                            110 NM SOUTHEAST QUADRANT
                            080 NM SOUTHWEST QUADRANT
                            075 NM NORTHWEST QUADRANT
   VECTOR TO 72 HR POSIT: 130 DEG/ 05 KTS
    ---
   72 HRS, VALID AT:
   110000Z --- 26.6S 56.1E
   MAX SUSTAINED WINDS - 065 KT, GUSTS 080 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 064 KT WINDS - 010 NM NORTHEAST QUADRANT
                            010 NM SOUTHEAST QUADRANT
                            015 NM SOUTHWEST QUADRANT
                            020 NM NORTHWEST QUADRANT
   RADIUS OF 050 KT WINDS - 050 NM NORTHEAST QUADRANT
                            060 NM SOUTHEAST QUADRANT
                            050 NM SOUTHWEST QUADRANT
                            040 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 145 NM NORTHEAST QUADRANT
                            125 NM SOUTHEAST QUADRANT
                            085 NM SOUTHWEST QUADRANT
                            070 NM NORTHWEST QUADRANT
   VECTOR TO 96 HR POSIT: 155 DEG/ 04 KTS
    ---
   LONG RANGE OUTLOOK:
    ---
   96 HRS, VALID AT:
   120000Z --- 28.0S 56.9E
   MAX SUSTAINED WINDS - 055 KT, GUSTS 070 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   RADIUS OF 050 KT WINDS - 035 NM NORTHEAST QUADRANT
                            055 NM SOUTHEAST QUADRANT
                            045 NM SOUTHWEST QUADRANT
                            030 NM NORTHWEST QUADRANT
   RADIUS OF 034 KT WINDS - 150 NM NORTHEAST QUADRANT
                            165 NM SOUTHEAST QUADRANT
                            145 NM SOUTHWEST QUADRANT
                            095 NM NORTHWEST QUADRANT
   VECTOR TO 120 HR POSIT: 190 DEG/ 05 KTS
    ---
   120 HRS, VALID AT:
   130000Z --- 29.8S 56.6E
   MAX SUSTAINED WINDS - 040 KT, GUSTS 050 KT
   WIND RADII VALID OVER OPEN WATER ONLY
   DISSIPATING AS A SIGNIFICANT TROPICAL CYCLONE OVER WATER
   RADIUS OF 034 KT WINDS - 160 NM NORTHEAST QUADRANT
                            170 NM SOUTHEAST QUADRANT
                            150 NM SOUTHWEST QUADRANT
                            075 NM NORTHWEST QUADRANT
    ---
REMARKS:
080300Z POSITION NEAR 21.4S 53.2E.
TROPICAL CYCLONE 04S (CARLOS), LOCATED APPROXIMATELY 112 NM WEST-
SOUTHWEST OF ST DENIS, LA REUNION, HAS TRACKED SOUTHWESTWARD AT
06 KNOTS OVER THE PAST SIX HOURS.
MAXIMUM SIGNIFICANT WAVE HEIGHT AT 080000Z IS 15 FEET.
NEXT WARNINGS AT 081500Z AND 090300Z.
//
0417020218 137S 561E  25
0417020300 135S 556E  25
0417020306 137S 553E  25
0417020312 141S 555E  30
0417020318 147S 563E  30
0417020400 153S 568E  30
0417020406 159S 568E  30
0417020412 167S 565E  35
0417020418 171S 565E  35
0417020500 173S 566E  35
0417020506 174S 568E  35
0417020512 175S 570E  45
0417020518 176S 574E  55
0417020518 176S 574E  55
0417020600 177S 576E  55
0417020600 177S 576E  55
0417020606 178S 575E  55
0417020606 178S 575E  55
0417020612 181S 572E  55
0417020612 181S 572E  55
0417020618 185S 570E  50
0417020618 185S 570E  50
0417020700 190S 563E  45
0417020706 195S 553E  45
0417020712 200S 544E  45
0417020718 206S 538E  45
0417020800 211S 534E  40
NNNN

In [433]:
#select the first lines where all the info is (conviniently) stored
data =[line.strip() for line in det.splitlines() if ('T' is line.strip()[0]) & ('QD' in line.strip()[-2:])]

In [435]:
data = [re.sub(' ',',',elem) for elem in data] # replace space with commas as delimiter

In [436]:
data = [v.split(',') for v in data] #split to array

In [437]:
df = pd.DataFrame(data) # create a dataframe

In [438]:
df.head() #check

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,T000,211S,0534E,040,R034,045,NE,QD,090,SE,...,None,None,None,None,None,None,None,None,None,None
1,T012,222S,0527E,050,R050,015,NE,QD,045,SE,...,None,None,None,None,None,None,None,None,None,None
2,T024,232S,0525E,060,R050,025,NE,QD,030,SE,...,None,None,None,None,None,None,None,None,None,None
3,T036,244S,0533E,070,R064,020,NE,QD,020,SE,...,QD,110,SE,QD,085,SW,QD,070,NW,QD
4,T048,253S,0545E,070,R064,025,NE,QD,025,SE,...,QD,110,SE,QD,080,SW,QD,075,NW,QD

In [439]:
# drop the text columns [NE,QD,....]
df = df.drop(df.columns[[6,7,9,10,12,13,15,16,19,20,22,23,25,26,28,29,32,33,35,36,38,39,41,42]], axis=1)

In [440]:
df = df.set_index(df.columns[0]) # set time as index

In [442]:
df.head() #check

,1,2,3,4,5,8,11,14,17,18,21,24,27,30,31,34,37,40
0,,,,,,,,,,,,,,,,,,
T000,211S,0534E,040,R034,045,090,090,045,None,None,None,None,None,None,None,None,None,None
T012,222S,0527E,050,R050,015,045,020,020,R034,105,120,095,055,None,None,None,None,None
T024,232S,0525E,060,R050,025,030,015,005,R034,130,115,080,060,None,None,None,None,None
T036,244S,0533E,070,R064,020,020,010,005,R050,045,045,030,010,R034,130,110,085,070
T048,253S,0545E,070,R064,025,025,015,005,R050,050,055,040,020,R034,135,110,080,075

In [443]:
df.columns=np.arange(df.shape[1]) # rename the columns

In [444]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,,,,,,,,,,,,,,,,,,
T000,211S,0534E,040,R034,045,090,090,045,None,None,None,None,None,None,None,None,None,None
T012,222S,0527E,050,R050,015,045,020,020,R034,105,120,095,055,None,None,None,None,None
T024,232S,0525E,060,R050,025,030,015,005,R034,130,115,080,060,None,None,None,None,None
T036,244S,0533E,070,R064,020,020,010,005,R050,045,045,030,010,R034,130,110,085,070
T048,253S,0545E,070,R064,025,025,015,005,R050,050,055,040,020,R034,135,110,080,075

In [445]:
#move the values to appropiate place based on the wind radii in order to force [64,50,34].

for i in range(df.shape[0]):
    if df.iloc[i,3]=='R034' : 
        df.iloc[i,13:] = df.iloc[i,3:8].values
        df.iloc[i,3:8] = None
    elif df.iloc[i,3]=='R050' :
        df.iloc[i,8:] = df.iloc[i,3:13].values
        df.iloc[i,3:8] = None

In [446]:
df #check

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,,,,,,,,,,,,,,,,,,
T000,211S,0534E,040,None,None,None,None,None,None,None,None,None,None,R034,045,090,090,045
T012,222S,0527E,050,None,None,None,None,None,R050,015,045,020,020,R034,105,120,095,055
T024,232S,0525E,060,None,None,None,None,None,R050,025,030,015,005,R034,130,115,080,060
T036,244S,0533E,070,R064,020,020,010,005,R050,045,045,030,010,R034,130,110,085,070
T048,253S,0545E,070,R064,025,025,015,005,R050,050,055,040,020,R034,135,110,080,075
T072,266S,0561E,065,R064,010,010,015,020,R050,050,060,050,040,R034,145,125,085,070
T096,280S,0569E,055,None,None,None,None,None,R050,035,055,045,030,R034,150,165,145,095
T120,298S,0566E,040,None,None,None,None,None,None,None,None,None,None,R034,160,170,150,075

In [451]:
df = df.drop(df.columns[[3,8,13]], axis=1) # drop text columns [R064,R050,R034]

In [452]:
#set columns
df.columns=['lat','lon','vmax','64ne','64se','64sw','64nw','50ne','50se','50sw','50nw','34ne','34se','34sw','34nw']

In [453]:
df #check

,lat,lon,vmax,64ne,64se,64sw,64nw,50ne,50se,50sw,50nw,34ne,34se,34sw,34nw
0,,,,,,,,,,,,,,,
T000,211S,0534E,040,None,None,None,None,None,None,None,None,045,090,090,045
T012,222S,0527E,050,None,None,None,None,015,045,020,020,105,120,095,055
T024,232S,0525E,060,None,None,None,None,025,030,015,005,130,115,080,060
T036,244S,0533E,070,020,020,010,005,045,045,030,010,130,110,085,070
T048,253S,0545E,070,025,025,015,005,050,055,040,020,135,110,080,075
T072,266S,0561E,065,010,010,015,020,050,060,050,040,145,125,085,070
T096,280S,0569E,055,None,None,None,None,035,055,045,030,150,165,145,095
T120,298S,0566E,040,None,None,None,None,None,None,None,None,160,170,150,075

In [458]:
tidx = [np.float(elem[1:]) for elem in df.index.values] #convert time from string to float

In [459]:
df.index=tidx # set float time as index

In [460]:
df # check

,lat,lon,vmax,64ne,64se,64sw,64nw,50ne,50se,50sw,50nw,34ne,34se,34sw,34nw
0.0,211S,0534E,040,None,None,None,None,None,None,None,None,045,090,090,045
12.0,222S,0527E,050,None,None,None,None,015,045,020,020,105,120,095,055
24.0,232S,0525E,060,None,None,None,None,025,030,015,005,130,115,080,060
36.0,244S,0533E,070,020,020,010,005,045,045,030,010,130,110,085,070
48.0,253S,0545E,070,025,025,015,005,050,055,040,020,135,110,080,075
72.0,266S,0561E,065,010,010,015,020,050,060,050,040,145,125,085,070
96.0,280S,0569E,055,None,None,None,None,035,055,045,030,150,165,145,095
120.0,298S,0566E,040,None,None,None,None,None,None,None,None,160,170,150,075